body,html
{
  font-family:tahoma;
  background-color:#FFFFFF;
  line-height:30px;
  padding:0px;
  margin:0px;
}
.header
{
  font-size:26px;
  margin:0 auto;
  text-align:center;
  color:#F9EBEA;
  font-weight:lighter;
  background-color:#000000;
  height:50px;
  line-height:50px;
  border-bottom:1px solid #9F6905;
}

.first
{
  
  cursor:default;
 
}

.second
{

  cursor:default;
 
}

.third
{
  
  cursor:default;
 
}
